{% extends 'base_generic.html' %}

{%block content %}

    <h1>Title: {{book.title}}</h1>

    <p><strong>Author</strong><a href=""> {{book.author}}</a></p>
    <p><strong>Summary:</strong> {{book.summary}}</p>
    <p><strong>ISBN:</strong> {{book.isbn}}</p>
    <p><strong>Language: </strong> {{book.Language}}</p>
    <p><strong>Genre: </strong>{{book.genre.all|join:" , " }}</p>


    <div style="margin-left:20px; margin-top:20px">
        <h4>Copies</h4>


        {% for copy in book.instances.all %}
            <hr>
            <p class="{% if copy.status == 'a' %} text-status {% elif copy.status == 'm' %} text-danger {% else %} text-warning {% endif %}">
                {{ copy.get_status_display }}
            </p>
            {% if copy.status != 'a' %}
                <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
            {% endif %}
            <p><strong>Imprint:</strong> {{copy.imprint}}</p>
            <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        {% endfor %}
    </div>


{% endblock %}



{% block sidebar%}
    {{ block.super }}

    {% if perms.catalog.update_book or perms.catalog.delete_book %}

    <hr>

    <ul class="sidebar-nav">
      {% if perms.catalog.update_book %}
        <li><a href="{% url 'book-update' book.id %}">Update Book</a></li>
       {% endif %} 

       {% if perms.catalog.delete_book %}
        <li><a href="{% url 'book-delete' book.id %}">Delete Book</a></li>
       {% endif %}
    </ul>
    {% endif %}

{% endblock %}